:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color-1: #3b9702;
  --primary-color-2: #2a7303;

  --text-color-0: #131212;
  --text-color-1: #1b1d1e;
  --text-color-2: #212224;
  --text-color-3: #38383B;
  --text-color-4: #454548;

  --background-color: #fcf5eb;

  --error-color-1: #930000;
}
